{% extends "layout.html" %}
{% block title %} Wordle {% endblock %}

{% block main %}
<h1>Wordle</h1>
<div class="container, text-center">
    {% for i in range(6) %}
        <div class="row d-flex justify-content-center">
            {% for j in range(5) %}
                <div class="col-sm, card" id="{{i}}/{{j}}">
                    <h1 id="{{i}},{{j}}">
                        _
                    </h1>
                </div>
                <div style="padding-left: 10px;"></div>
            {% endfor %}
        </div>
    {% endfor %}
  </div>
  <script type="text/javascript" src='/static/keypress.js'></script>
{% endblock %}